script(src="lib/jquery-ui/js/jquery.min.js")
script(src="lib/jquery-ui/js/jquery-ui.min.js")
script(src="lib/underscore.js")
script(src="lib/backbone.js")
script(src="js/models/image.js")
script(src="js/collections/image_list.js")
script(src="js/views/image_view.js")
script(src="js/views/selector_view.js")
script(src="js/app.js")
